#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.filmPage {
    font-family: arial;
    width: 800px;
    height: auto;
    position: fixed;
    z-index: 1000;
    background:#322d2e;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.borderBox {
    position: relative;
    text-align: center;
    width: 300px;
    height: 650px;
    border: 1px solid black;
    margin: 20px;
}
.search input {
    height: 20px;
    width: 230px;
    text-decoration: none;
    margin: 10px;
}
.search button {
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
}
.star {
    position: absolute;
    top:0;
    right: 0;
    z-index: 999;
}
.icon {
    font-size: 40px !important;
    color: orange;
}
.buttonClose {
  font-family: arial;
  font-size: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}