#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.borderBox {
    position: relative;
    text-align: center;
    width: 300px;
    height: 650px;
    border: 1px solid black;
    margin: 20px;
}
.search input {
    height: 20px;
    width: 230px;
    text-decoration: none;
    margin: 10px;
}
.search button {
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
}
.star {
    position: absolute;
    top:0;
    right: 0;
    z-index: 999;
}
.icon {
    font-size: 40px !important;
    color: orange;
}