#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.borderBox {
    text-align: center;
    width: 300px;
    height: 100%;
    border: 1px solid black;
    margin: 20px;
}
.search input {
    height: 20px;
    width: 230px;
    text-decoration: none;
    margin: 10px;
}
.search button {
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
}